<!DOCTYPE html>
<html>
<head>
  <title>Plan</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if notice.present? %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
      <p class="alert"><%= alert %></p>
  <% end %>
</head>
<body>

<%= yield %>
<div style="width: 400px; height: 400px "></div>
<div style="clear: both"></div>
<footer>
  <% if current_user.present? %>
      <%= link_to 'log out', '/users/sign_out'%>
  <% end %>

</footer>

</body>
</html>
